# Minimal kernel baseline
CONFIG_EXPERT=y
CONFIG_SLUB=y
CONFIG_SLUB_TINY=y

# BusyBox initramfs/initrd
CONFIG_BLK_DEV_INITRD=y
CONFIG_RD_GZIP=y
CONFIG_BINFMT_ELF=y
CONFIG_BINFMT_SCRIPT=y

# Kexec handoff
CONFIG_RELOCATABLE=y
# CONFIG_RANDOMIZE_BASE is not set
# CONFIG_KEXEC_FILE is not set
CONFIG_KEXEC=y
# CONFIG_CRASH_DUMP is not set
CONFIG_MEMFD_CREATE=y
CONFIG_SUSPEND=y
CONFIG_HOTPLUG_CPU=y

# Usual early userspace mounts
CONFIG_PROC_FS=y
CONFIG_SYSFS=y
CONFIG_SHMEM=y
CONFIG_TMPFS=y
CONFIG_DEVTMPFS=y
CONFIG_DEVTMPFS_MOUNT=y
CONFIG_CONFIGFS_FS=y

# Early USB gadget console
CONFIG_USB_SUPPORT=y
CONFIG_USB=y
CONFIG_USB_GADGET=y
CONFIG_USB_CONFIGFS=y
CONFIG_USB_CONFIGFS_ACM=y

# fastboot
CONFIG_USB_CONFIGFS_F_FS=y
CONFIG_AIO=y
CONFIG_EVENTFD=y

# Console core
CONFIG_PRINTK=y
CONFIG_PRINTK_TIME=y
CONFIG_TTY=y
CONFIG_VT=y
CONFIG_VT_CONSOLE=y

# Bring-up diagnostics
CONFIG_BUG=y
CONFIG_DEBUG_BUGVERBOSE=y
CONFIG_KALLSYMS=y
CONFIG_STACKTRACE=y

# magic sysrq for quick reboots over UART
CONFIG_MAGIC_SYSRQ=y
CONFIG_MAGIC_SYSRQ_SERIAL=y
CONFIG_MAGIC_SYSRQ_DEFAULT_ENABLE=0x80

# Device-tree simple-framebuffer handoff
CONFIG_OF=y

# Modern simple-framebuffer driver path
CONFIG_DRM=y
CONFIG_DRM_SIMPLEDRM=y

# filesystem support for bootflows
CONFIG_MSDOS_PARTITION=y
CONFIG_EFI_PARTITION=y
CONFIG_FAT_FS=y
CONFIG_VFAT_FS=y
CONFIG_NLS_CODEPAGE_437=y
CONFIG_NLS_ISO8859_1=y
CONFIG_NLS_UTF8=y
